@using Blog0190.Models.Sinifler
@model List<Contact>
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Elaqe Melumatlar Siyahisi</h2>
<br />
<form id="formSearch" method="post">
    <div class="row" id="SearchBox">
        <div class="col-md-1">Search</div>
        <div class="col-md-2"><input type="text" id="TextName" name="TextName" /></div>
        <div class="col-md-1"><input class="btn btn-primary" type="submit" id="submitsearch" value="Search" /></div>
    </div>
</form>
<br />
<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>Ad Soyad</th>
        <th>Email</th>
        <th>Telefon</th>
        <th>Tarix</th>
        <th>Saat</th>
        <th>Mesaj</th>
        <th>Sil</th>
        <th>Yenile</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.NameSurname</td>
            <td>@x.Email</td>
            <td>@x.Tel</td>
            <td>@x.Date.ToString("dd.MM.yyyy")</td>
            <td>@x.Time.ToString("hh:mm:ss")</td>
            <td>@x.Message</td>
            <td><a href="/Admin/ContactSil/@x.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/ContactGetir/@x.ID" class="btn btn-warning">Yenile</a></td>
        </tr>
    }
</table>
<a href="@Url.Action("ExportPDFContact","Admin")" class="btn btn-primary">Pdf </a>




