@using Blog0190.Models.Sinifler
@model List<LessonInformation>
@{
    ViewBag.Title = "Lesson";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Derslerin  Siyahisi</h2>
<br />
<form id="formSearch" method="post">
    <div class="row" id="SearchBox">
        <div class="col-md-1">Search</div>
        <div class="col-md-2"><input type="text" id="TextName" name="TextName" /></div>
        <div class="col-md-1"><input class="btn btn-primary" type="submit" id="submitsearch" value="Search" /></div>
    </div>
</form>
<br />
<table class="table table-bordered">

    <tr>
        <th>Id</th>
        <th>Bashliq</th>
        <th>Tarix</th>
        <th>Text</th>
        <th>Sekil</th>
        <th>Sil</th>
        <th>Yenile</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>

            <td>@x.LessonID</td>
            <td>@x.TextName</td>
            <td>@x.Date.ToString("dd.MM.yyyy")</td>
            <td>@x.Text</td>
            <td>@x.Image</td>
            <td><a href="/Admin/LessonSil/@x.LessonID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/LessonGetir/@x.LessonID" class="btn btn-warning">Yenile</a></td>
        </tr>
    }

</table>
<a href="/Admin/YeniLesson/" class="btn btn-primary">Yeni Lesson </a>
<a href="@Url.Action("ExportPDFLesson","Admin")" class="btn btn-primary">Pdf </a>

