@model Blog0190.Models.Sinifler.LessonInformation
@{
    ViewBag.Title = "LessonGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ders Yenileme Paneli</h2>
<br />
@using (Html.BeginForm("LessonYenile", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.LessonID)
    @Html.TextBoxFor(x => x.LessonID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.TextName)
    @Html.TextBoxFor(x => x.TextName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Image)
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Text)
    @Html.TextAreaFor(x => x.Text, 10, 1, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Blog Yenile</button>
}





