@model Blog0190.Models.Sinifler.LessonInformation
@{
    ViewBag.Title = "YeniLesson";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Dersler Yaratmag Ucun Panel</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.TextName)
    @Html.TextBoxFor(x => x.TextName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Date)
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Image)
    @Html.TextBoxFor(x => x.Image, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Text)
    @Html.TextAreaFor(x => x.Text, 10, 1, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Lesson Yarat</button>
</form>


